html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  padding: 0;
  min-width: 500px;
  background-color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;;
  font-size: 16px;
  color: #2d2c3e;
}
.hidden {
  display: none;
}
a, a:visited {
  text-decoration: none;
  color: #fdfcf3;
  cursor: pointer;
}
.main-wrapper a, .main-wrapper a:visited {
  color: #2d2c3e;
}
.nav-above ul li, 
.my-links ul li, 
.my-contacts ul li,
.page-footer ul li {
  list-style-type: none;
  margin: 0 5px;
}
.backlight:hover {
  background-color: #fdfcf3;
  box-shadow: 1px 1px 5px 4px #fdfcf3;
}

/* Хедер и футер */
.page-header, .page-footer {
  padding: 10px;
  background-color: #e7717d;
  color: #fdfcf3;
  font-size: 20px;
}
.page-header .nav-above ul,
.page-footer .link-icons ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.page-header a,
.page-footer a {
  display: block;
  padding: 4px 10px;
  margin: 0;
}
.page-header a:hover,
.page-footer a:hover {
  border-radius: 5px;
  box-shadow: 1px 1px 5px 5px #fdfcf3;
  background-color: #fdfcf3;
  color: #2d2c3e;
}
.link-icons div {
  display: inline-block;
  vertical-align: middle;
  align-content: center;
}
.white-icon{
  filter: invert(1);
}
.white-icon:hover{
  filter: invert(0);
}

/* Хэдер */
.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  /*position: fixed;
  top: 0;
  width: 100%;*/
}
@media (max-width: 850px) {
  .page-header {
    font-size: 20px;
    padding-right: 25px;
  }
  .page-header .nav-above ul {
    display: flex;
    flex-direction: column;
  }
  .page-header a {
    padding: 2px 8px;
    margin-bottom: 5px;
  }
}

/* Футер */
.page-footer .link-icons {
  display: inline-block;
  text-align: center;
}
.page-footer .link-icons a {
  padding: 25px;
}

.made-by {
  text-align: right;
  font-size: 20px;
  margin: 5px;
}
.made-by a {
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
  padding: 2px;
}
.page-footer .link-icons a:hover {
  border-radius: 45px;
}

/* Основные секции в теле */
.main-wrapper {
  background-color: #fff;
  border: 1px solid #dfdfe2;
  margin: 10px auto;
  padding: 20px;
  text-align:left;
  max-width:960px;
}
section {
  border: 1px dotted #fff;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
section:hover {
  background-color: #fcecee;
}
section#about-me {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 5px;
}

summary {
  border-bottom: solid 2px #212122;
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
  cursor: pointer;
}

/* Секция Обо мне */
.general {
  display: flex;
}


.hero_box {
  max-width: 450px;
  justify-self: center;
  overflow: hidden;
  border: 10px solid white;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  animation: ava-animate 5s infinite alternate;
}
.my-foto {
  min-width: 200px;
  width: 300px;
  animation: ava-bg 3s infinite alternate;
}
@keyframes ava-animate {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  }
  40% {
    border-radius: 30% 70% 70% 30% / 24% 18% 82% 76% ;
  }
  60% {
    border-radius: 28% 72% 74% 26% / 48% 27% 73% 52% ;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 61% 69% 31% 39% ;
  }
}
@keyframes ava-bg {
  from {
    backdrop-filter: hue-rotate(0);
  }
  to {
    backdrop-filter: hue-rotate(250deg);
  }
}


/*.my-foto {
  border: 2px solid #212122;
  border-radius: 10px;
  box-shadow: #454546;
  
  object-fit: cover;
}*/
.about-me {
  margin: 0 20px;
}

/* Секция Мои навыки */
.wrap-flex {
  display: flex;
  flex-wrap: wrap;
}

/* Секция Опыт работы */
table {
  width: 100%;
  margin-top: 10px;
}
table, th, td {
  border: 1px solid #818181;
  border-spacing: 0px 0px;
}
thead {
  text-align: center;
}
td, th {
  padding: 3px 8px;
}
td ul {
  margin: 0;
  padding: 0 8px 0 15px;
  font-size: 15px;
}
.container {
  min-width: 320px;
  max-width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .container table thead {
    display: none;
  }
  .container table tr {
    display: block;
  }
  .container table td {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  .container table td::before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 20px;
  }
  .wrap-flex {
  	flex-direction: column;
  }
}

/* Секция Контакты */
.my-contacts {
  font-size: 22px;
}
.my-contacts ul {
  padding: 0;
}
.my-contacts ul:first-child {
  margin-top: 0;
}
.my-contacts ul li {
  margin: 15px 0;
}
.my-contacts ul li a:hover {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 5px #ffffff;
}

/* Кнопка Перезвоните мне */
.call-me-btn {
  margin-top: 20px;
}
.call-me-btn a {
  padding: 10px 15px;
  margin: 10px;
  background-color: #e7717dff;
  border-radius: 15px;
  font-weight: 500;
  color: white;
}
.call-me-btn a:hover {
  background-color: #e7717dff;
  color: white;
}

/* Попап Перезвоните мне */
.popup-call-me {
  text-align: left;
  min-width: 300px;
  max-width: 400px;
  min-height: 200px;
  padding: 10px 25px;
  background-color: #e7717d;
  color: #fdfcf3;
  border: 5px outset #ffd3d3;
  border-radius: 5px;
  margin: 40px auto;
  position: sticky;
  z-index: 9999;
  top: 0;
  bottom: 30%;
}
.popup-call-me .modal-close {
  display: block;
  position: absolute;
  font-weight: 700;
  border-radius: 15px;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.popup-call-me .modal-action {
  display: block;
  width: 250px;
  margin: 10px auto;
  padding: 7px;
  border: 2px solid #09040d;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.popup-call-me input, 
.popup-call-me textarea {
  font-family: inherit;
  font-size: 18px;
  padding: 4px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
}

/* Иконки в хэдере, футере и секции Мои контакты */
.sm-icon {
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  background-size: 23px 23px;
  text-indent: -100000px;
}
.page-footer .sm-icon {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}
.sm-icon.mobile-number {
  background-image: url(../icons/icon-phone.png);
}
.sm-icon.email {
  background-image: url(../icons/icon-mail.png);
}
.sm-icon.github {
  background-image: url(../icons/icon-git.png);
}

/* Ночная тема */
.night { 
	filter: invert(100%);
}
body.night { 
	background-color: #2d2c3e !important;
}